#InputField {
    -fx-background-color: crimson;
}

#ErrorMessages {
    -fx-background-color: cyan;
}

#imageContainer {
    -fx-background-color: blueviolet;
    -fx-background-image: url(./res/stewart-facepalm.jpg);
    -fx-background-position: center;
}
 #GridPane {
     -fx-background-color: darkorange;
     -fx-padding: 0 10 0 10;
 }